@import "../src/stylesheets/Boiler.css";

body {
  color: white;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
}

.segmented-control-wrapper {
  display: flex;
  width: 370px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  background-color: var(--zinc-600);
  border-radius: 4px;
  overflow: hidden;
}

.about-us {
  background-color: var(--zinc-900);
}
